.card {
  position: relative;
  margin: 25px 0;
  padding: 18px;
  background: $main-bg;
}

.card_title {
  margin: -4px 0 6px;
  color: $title-color;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.card_title__big {
  font-size: 42px;
  white-space: nowrap;
}

.card_title__small {
  font-size: 15px;
}

.card_descr {
  margin-bottom: 15px;
  color: rgb(121,121,144);
}

.card_actions {
  margin-bottom: 50px;
}

.card_col {
  float: left;

  &:first-child {
    margin-right: 25px;
  }
}

.card_pic {
  width: 461px;
  height: 307px;
}

.card_content {
  width: getWidthCol(6) - $widthGutter - 18;
}

.card_select {
  @include p(a,'','',18px);
  max-width: 274px;
}

.products-to_likes {
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
}

.products_pane {
  display: inline-block;
  width: getWidthCol(3);
  height: getWidthCol(3);
  text-transform: uppercase;
  text-align: center;

  &:before {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
  }
}

.products_pane__title {
  margin-right: $widthGutter;
  font-size: 30px;
  font-weight: 700;
  color: $title-color;
}

.products_pane_text {
  display: inline-block;
  vertical-align: middle;
  max-width: 160px;
}

.products_pane__more {
  height: 304px;
  margin-top: 25px;
  font-size: 20px;

  .products_pane_text {
    &:after {
      @include icon(pane-more, b);
      margin: 14px auto 0;
    }
  }
}

