.more-content {
  overflow: hidden;
  margin-bottom: -55px;
  padding-top: 25px;
  padding-bottom: 75px;
  background: rgb(255,255,255);

  .news-feed,
  .posts-feed {
    margin-top: 0;
  }
}

.more-content_title {
  @extend %title-section;
}
