.profile-products {
  margin-top: 13px;
  padding-top: 0;

  .products-index-header {
    margin-bottom: 16px;
  }

  .yml-categories {
    padding-bottom: 70px;
    border-bottom: 1px solid #e1e1e1;
  }

  .add-product-phone-group {
    float: left;
    width: 173px;
  }

  .add-product-delivery-group {
    float: right;
    margin-top: 0;
    width: 423px;
  }

  .symbol-counter {
    top: 30px;
  }

  .add-product-link-group {
    clear: both;
    margin-bottom: 20px;
  }

  .form-group--checkbox {
    margin-top: 15px;
  }

  .add-product-form {
    margin-top: 19px;

    .form-group-title {
      margin-bottom: 5px;
    }

    .form-group--submit {
      display: none;
    }
  }
}

.yml-setup-type, .yml-setup-info {
  float: left;
  width: getWidthCol(4);
}

.yml-setup-info {
  margin-left: 25px;

  .form-group-title {
    text-transform: none;
  }
}

.yml-setup-header {
  @extend .clearfix;
  margin-bottom: 30px;
}
