.products {
  .btn-more-go {
    margin-top: 20px;
  }

  .slider-products {
    margin-bottom: 20px;
  }

  .search .slider-products {
    margin-top: 25px;
  }
}

.products__grid-3 {
  @include tile-grid('.product', 3, 25px, 25px);
}

.products__grid-4 {
  @include tile-grid('.product', 4, 25px, 25px);
}

.products-last {
  margin-top: 60px;
}

.search + .slider-products {
  margin-top: 30px;
}

.slider-products {
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-bottom: 35px;
  margin-bottom: 30px;

  .slides,
  .slides > li {
    box-sizing: content-box;
  }

  .slides {
    position: relative;
    overflow: hidden;
    z-index: 1;

    li {
      position: relative;
    }

    img {
      display: block;
    }
  }
}

.slider-products, .preview-slider {
  .flex-control-nav {
    @include p(a,'',0,0,0);
    overflow: hidden;
    height: 11px;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: top;
    }

    li + li {
      margin-left: 5px;
    }

    a {
      display: block;
      overflow: hidden;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: $main-bg;
      text-indent: -50px;
      cursor: pointer;

      &.flex-active {
        background: rgb(181,181,181);
      }
    }
  }
}

.preview-slider {
  padding-bottom: 50px;

  .flex-control-nav {
    bottom: 20px;
  }
}

.slider-products .product {
  margin-bottom: 0;
}

.slider-products-title {
  @include p(a,58px,'','',115px);
  max-width: 300px;
  color: rgb(0,0,0);
  font: 700 25px/normal $text-main-family;
  text-align: left;
}

.show-settings {
  overflow: hidden;
  margin-top: 17px;
  padding-bottom: 10px;
  color: rgb(128, 128, 128);
  border-bottom: 1px solid #D7D7D7;
}

.show-settings-results-value {
  float: left;
  margin: 0;

  span {
    color: #000;
  }
}

.show-settings-items {
  float: right;
  list-style: none;
  font-size: 13px;

  li {
    display: inline-block;
  }

  .is-active {
    font-weight: bold;
  }
}

.show-settings-item {
  display: inline-block;
  margin-left: 9px;
}


.filter-inline-item {
  font-weight: 400;
  color: #000;

  &:hover {
    color: #000;
  }
}

.page-index-content-info {
  @extend .clearfix;
  margin-bottom: 20px;
}

.products-stat {
  float: left;
  font-size: 13px;
  color: rgb(126, 126, 126);
}

.products-stat-item {
  display: inline-block;
  margin-right: 34px;
  line-height: 18px;

  span {
    display: block;
    color: #000;
    font-weight: bold;
  }
}

.product-view-types {
  position: relative;
  top: 4px;
  right: 0;
  float: right;
}

.product-view-type {
  text-transform: uppercase;
  margin-left: 28px;
  opacity: 0.7;

  &:before {
    margin-right: 5px;
    vertical-align: middle;
  }

  &:hover, &.is-active {
    opacity: 1;
  }
}

.product-view-type--preview {
  &:before {
    @include icon(view-preview);
    position: relative;
    top: -2px;
  }
}

.product-view-type--list {
  &:before {
    @include icon(view-list);
  }
}

.products-head {
  overflow: hidden;
  margin-bottom: 18px;
  padding-top: 15px;
}

.is-refreshing {
  position: relative;

  &:after {
    @include p(a,f);
    z-index: 100;
    display: block;
    content: "";
    background: rgba(255, 255, 255, 0.5);
  }
}

.products-head_cell {
  float: left;
}

.products-head_check-all {
  margin-right: 7px;
  padding-top: 2px;
  padding-left: 12px;
  width: 40px;
}

.products-head_title {
  margin-top: 3px;
  margin-left: -4px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.products_btn-add {
  width: 180px;
  clear: both;
  margin-bottom: 15px;
}

.products-index-header {
  margin-bottom: 18px;
  margin-left: 0;
}

.products-index-nav {
  //@extend .topnav-nav;
  margin-left: 25px;
  margin-top: 9px;
  font-size: 13px;
}

.products-index-nav-item {
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.products-index-nav-item.is-active,
a.products-index-nav-item:hover {
  color: $brand-color;
  border-bottom: 1px solid $brand-color;
}

.products-index-header {
  @extend .clearfix;

  .page-index-title {
    float: left;
    font-weight: bold;
  }
}

.products-index-header-info {
  position: relative;
  top: -2px;
  float: right;
  margin-right: 0;
  text-align: right;
  font-size: 13px;

  span {
    font-weight: bold;
  }
}

.filter-inline_group {
  position: relative;
  top: 3px;
  float: right;
}
