.tags + .tags {
  margin-top: 5px;
}

.tags-title {
  display: block;
  margin-bottom: 6px;
  color: rgb(128,128,128);
  font: 700 13px/normal $text-functional;
  text-transform: uppercase;
}

.tags-content {
  a {
    display: inline-block;
    margin: 0 8px 7px 0;
    padding: 3px 7px 4px;
    background: #fff;
    border: 1px solid rgb(233,233,233);
    font-size: 12px;
    font-family: $text-functional;
    transition: border 0.2s;

    &:hover {
      border-color: $brand-color;
    }

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.index-tags {
  margin-top: 40px;
}
